extends layout

block variables
  - var title = "Home"

block content
  h2.text-center International Summer School on Deep Learning

  .row
    .offset-sm-2.col-sm-8
      .jumbotron-fluid.text-center.
        Welcome to game competition for ISSonDL 2019. Visit the
        #[a(href="https://dl-lab.eu", title="School website") School Website] to learn more.
