.delay-1 {
    animation-delay: 0.3s;
}

.delay-2 {
    animation-delay: 2s;
}

.text-primary {
    color: #ecf0f1 !important;
}

.text-dark {
    color: #34495e !important;
}

.vertical-center {
    display: flex;
    min-height: 100%;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
}

.hand-cur {
    cursor: pointer !important;
}

.tile {
    border: 5px solid #34495e;
    transition: all .2s ease-in-out;
}

.tile:hover {
    transform: scale(1.1);
}

.flappy-header {
    font-size: 10rem; font-weight: 1000; margin-bottom: 8rem; margin-top: 1rem;
    text-shadow: -5px 0 #293a4b, 0 5px #293a4b, 5px 0 #293a4b, 0 -5px #293a4b;
}

.main-page-button {
    letter-spacing: .1rem;
    font-weight: 800;
}
